*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:'Poppins',sans-serif;

}



html{

scroll-behavior:smooth;

}



body{

background:#0b0b0b;
color:white;

}




nav{

position:fixed;

top:0;

width:100%;

display:flex;

justify-content:space-between;

padding:25px 8%;

background:#000000aa;

backdrop-filter:blur(20px);

z-index:10;

}



nav h2{

color:#f5c542;

font-size:30px;

}



nav a{

color:white;

text-decoration:none;

margin:20px;

}




.hero{


height:100vh;

background:

linear-gradient(#0008,#0008),

url("https://images.unsplash.com/photo-1515003197210-e0cd71810b5f");

background-size:cover;

background-position:center;


display:flex;

align-items:center;

justify-content:center;


text-align:center;


animation:zoom 8s infinite alternate;

}




@keyframes zoom{

from{

background-size:100%;

}


to{

background-size:115%;

}

}




.hero h1{

font-size:70px;

}



.hero span{

color:#f5c542;

}



.hero p{

font-size:22px;

margin:25px;

color:#ddd;

}



button{

padding:16px 40px;

border:none;

border-radius:40px;

background:#f5c542;

font-size:18px;

cursor:pointer;

transition:.4s;

}



button:hover{

transform:scale(1.15);

box-shadow:0 0 30px #f5c542;

}





.title{

text-align:center;

font-size:45px;

margin:70px;

color:#f5c542;

}




.cards{

display:flex;

justify-content:center;

gap:35px;

flex-wrap:wrap;

}




.food{

width:330px;

background:#ffffff10;

border-radius:25px;

overflow:hidden;

transition:.5s;

}



.food img{

width:100%;

height:230px;

object-fit:cover;

}



.food h3,
.food p{

padding:15px;

}




.food:hover{

transform:

translateY(-20px)

scale(1.08);


box-shadow:

0 0 40px #f5c542;

}




.about{

height:400px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:50px;

}



.about h2{

font-size:45px;

color:#f5c542;

}



.about p{

max-width:600px;

font-size:20px;

color:#ccc;

margin-top:20px;

}





footer{

text-align:center;

padding:30px;

color:#aaa;

}
@keyframes show{

from{

opacity:0;

transform:scale(.7);

}

to{

opacity:1;

transform:scale(1);

}

}